.App {
  text-align: center;
}
body {
  background-color: black;
  color: white;
}

/* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
}
.add-btn {
  margin: auto;
  width: 50%;
}
.task {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin: auto;
  line-height: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
  width: 80%;
  text-align: start;
}
.x {
  margin-right: 10px;
  color: black;
  margin: auto 5px;
  cursor: pointer;
  padding: 5px;
}
.marked {
  background-color: rgb(161, 236, 100);
}
/* FORM */
.form-field {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
  box-sizing: border-box;
}
.form-container {
  margin: auto;
  width: 70%;
  display: inline-block;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
